@keyframes pxico-floatUp {
    0% { transform: translateY(0%); }
    50% { transform: translateY(-10%); }
    100% { transform: translateY(0%); }
}

@keyframes pxico-floatUpRight {
    0% { transform: translate(-5%, 5%); }
    50% { transform: translate(3%, -3%); }
    100% { transform: translate(-5%, 5%); }
}

.pxico-download_anim:hover .pxico-downloadArrow {
    animation: pxico-floatUp 2.5s ease-in-out infinite;
}
.pxico-external_link_anim:hover .pxico-external_linkArrow {
    animation: pxico-floatUpRight 2.5s ease-in-out infinite;
}